__pycache__
.saved_models
.DS_Store
saved_models
video
data/__pycache__
data/train
data/val
util/__pycache__
data/test
results
output_video_fake_A.mp4
output_video_fake_B.mp4
checkpoints/v2c_experiment/v2c_experiment_web